<div class="container">
  <div class="logo">
    <img class="logo-text" src="../../../../assets/LOGO.png">
  </div>
  <div class="search-bar">
    <div class="search-icon">
      <img src="../../../../assets/icons/search.svg">
    </div>
    <div class="search-text">Busque por pratos ou ingredientes</div>
  </div>
  <div class="orders">
    <div class="orders-icon">
      <div class="orders-indicator">
        <img src="../../../../assets/icons/heart.svg" style="margin-top: 5px;">
      </div>
    </div>
    <div class="orders-text">Lista de Favoritos</div>
  </div>
  <div class="profile-icon">
      <img src="../../../../assets/icons/log-out.svg">
  </div>
</div>
