@import './rem-calc';
input[type="text"] {
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: rem-calc(14) rem-calc(12);
  background: var(--background-input);
  border-radius: rem-calc(8);
  justify-content: center;
  align-items: center;
  gap: rem-calc(14);
  display: inline-flex;
  border: none;
}

input[type="text"]:focus {
  outline: rem-calc(1) solid var(--white);
}

input[type="text"]::placeholder {
  color: var(--gray);
}

input[type="text"]:hover {
  outline: rem-calc(1) solid var(--white);
}

// input content - value
input[type="text"]:focus + input[type="text"]::placeholder {
  color: var(--white);
}

input[type="password"] {
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: rem-calc(14) rem-calc(12);
  background: var(--background-input);
  border-radius: rem-calc(8);
  justify-content: center;
  align-items: center;
  gap: rem-calc(14);
  display: inline-flex;
  border: none;
}

input[type="password"]:focus {
  outline: rem-calc(1) solid var(--white);
}

input[type="password"]::placeholder {
  color: var(--gray);
}

input[type="password"]:hover {
  outline: rem-calc(1) solid var(--white);
}

