:root {
  --white: rgba(255,255,255,1);
  --gray: rgba(196,196,204,1);
  --black: rgba(0,4,5,1);
  --form-container: #001119;
  --primary-color: rgba(146,0,14,1);
  --primary-color-light: rgba(171,77,85,1);
  --primary-color-accent: rgba(117,3,16,1);
  --secundary-color: rgba(130,243,255,1);
  --background-color: #000A0F;
  --background-input: #0D1D25;
  --gradient-color: linear-gradient(90deg, rgba(0,10,15,27.25), rgba(0,10,15,1));
}
