<div class="main-container">
  <div class="logo-container">
    <img class="logo" src="../../../assets/LOGO.png">
  </div>
  <form class="form-container">
    <div class="form-title">Crie sua conta</div>
    <div class="form-field">
      <label class="field-label">Seu nome</label>
      <input type="text" placeholder="Exemplo: Bruno Silva">
    </div>
    <div class="form-field">
      <label class="field-label">E-mail</label>
      <input type="text" placeholder="Exemplo: teste@email.com">
    </div>
    <div class="form-field">
      <label class="field-label">Senha</label>
      <input type="password" placeholder="No minimo 4 caracteres">
    </div>
    <div class="button-container">
      <button class="button-submit">Criar conta</button>
    </div>
  </form>
</div>
