<app-header></app-header>
<section class="container">
  <div class="background">
    <div class="image-container">
      <img class="image" src="../../../assets/homem-aranha-cover.png" />
    </div>
    <div class="content">
        <div class="title">Os melhores Filmes A Um Clique!</div>
        <div class="description">Veja os filmes em alta e guarde seus favoritos.</div>
    </div>
  </div>
</section>
  <section class="container-list">
    <div class="title-section">Em alta</div>
    <app-card-list></app-card-list>
  </section>
<app-footer></app-footer>
